<div class="container">
    <h1 class="align-content-center">Your all files</h1>
</div>
<div class="container">
    <table class="table table-hover table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col" width="4%">#</th>
                <th scope="col">File Name</th>
                <th scope="col" width="14%">Owner</th>
                <th scope="col" width="14%">Auth</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let file of files">
                <th scope="row">{{file.id}}</th>
                <td><a [routerLink]="['/files',file.id]">{{file.name}}</a></td>
                <td>{{file.owner}}</td>
                <td>{{file.auth}}</td>
            </tr>
        </tbody>
    </table>
</div>