<div class="container mt-4">
  <div class="row col-md-10 mx-auto editor_div">
    <div id="editor">
      //code here
    </div>
  </div>
  <!-- <div class="row col-md-10 mx-auto">
    <button class="btn btn-outline-success mt-4" [routerLink]="['/files']">Back</button>
  </div> -->
  <div class="row col-md-10 mx-auto my-4">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary" (click)="test()">Run Test</button>
      <button type="button" class="btn btn-secondary" [routerLink]="['/files']">Back</button>
      <button type="button" class="btn btn-secondary">Noting</button>
    </div>
  </div>
  
  <div class="row col-md-10 mx-auto my-4">
    {{result}}
  </div>
</div>