<div class="container mt-4">
  <div class="row col-md-10 mx-auto editor_div">
    <div id="editor"></div>
  </div>

  <div class="row col-md-10 mx-auto my-4">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary" (click)="test()">Run Test</button>
      <button type="button" class="btn btn-secondary" [routerLink]="['/files']">Back</button>
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{language}}
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" (click)="setLanguage(lang)" *ngFor="let lang of languages">{{lang}}</a>
          <!-- <a class="dropdown-item" (click)="setLanguage('Java')">Java</a> -->
        </div>
      </div>
      <button type="button" class="btn btn-secondary" (click)="resetCode()">Reset Code</button>
    </div>
  </div>
  
  <div class="row mx-auto col-md-10 my-4" *ngIf="result">

    <div class="col-12" *ngIf="rbuild">
      <!-- <dl class="row">
        <dt class="col-sm-4">Build Result</dt>
        <dd class="col-sm-8">{{rbuild}}</dd>
    
        <dt class="col-sm-4">Run Result</dt>
        <dd class="col-sm-8">{{rrun}}</dd>
      </dl> -->
      <ul class="list-group col-12 list-group-flush">
        <li class="row col-12 list-group-item">
          <b class="col-3">Build Result</b>
          <p class="col-9">{{rbuild}}</p>
        </li>
        <li class="row col-12 list-group-item">
          <b class="col-3">Run Result</b>
          <p class="col-9">{{rrun}}</p>
        </li>
      </ul>
    </div>

    <div *ngIf="!rbuild">
      <h3>Testing ...</h3>
    </div>

  </div>
</div>